@media screen and (max-width: 600px) {
    .coverName {
        font-size: 4rem;
        width: 65%;
    }

    .coverTitle {
        font-size: 3.5rem;
    }

    .first,
    .second,
    .third,
    .fourth {
        font-size: 4rem;
    }

    #navBar {
        display: none;
    }

    #stickyDiv .one,
    #stickyDiv .two {
        font-size: 15px;
    }

    #headline {
        font-size: 2rem;
        font-weight: 400;
        left: 4%;
        top: 0;
        margin-top: 25%;
    }

    .creativeHeadline,
    .developerHeadline {
        font-size: 4rem;
        font-weight: 400;
    }

    #imageSpace {
        display: none;
    }

    #nameSpace {
        top: 0%;
        left: 4%;
    }

    #introSection {
        margin-top: 200px;
    }

    #top, #middle {
        width: 90%;
        font-size: 2rem;
    }

    #top p {
        margin: 15px 0px;
    }

    #middle p {
        font-size: 1.5rem;
    }

    #projectsSection {
        position: relative;
    }

    .projectName {
        font-size: 2rem;
    }

    .projectDetails {
        font-size: 1rem;
    }

    #rightSection {
        position: absolute;
        width: 100vw;
    }

    #leftSection {
        height: 150vh;
        position: relative;
        z-index: 20;
    }

    #firstProjectImage {
        filter: brightness(0.5);
    }

    .firstProject,
    .secondProject {
        height: 30%;
        border: 1px solid green;
        color: white;
    }
}