html,
body {
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    background-color: #e1dfdd;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.border1 {
    border:1px solid black;
}

.border2 {
    border: 1px solid red;
}

.border3 {
    border: 1px solid green;
}

#stickyContainer {
    position: relative;
    background-color: #e1dfdd;
    /* height: 100%; */
}

#cover {
    position: relative;
    background-color: #080808;
    color:antiquewhite;
    /* box-sizing: border-box; */
    width: 100%;
    height: 100vh;
    z-index: 99;
    /* border: 1px solid white ; */
}

#mainContent {
    position: sticky;
    top: 0px;
    background-color: #161616;
    width: 100%;
    height: 75%;
}

.coverName {
    position: absolute;
    top: 3.125rem;
    font-size: 8.75rem;
    opacity: 0;
}

.coverTitle {
    position: absolute;
    top: 15rem;
    font-weight: 300;
    font-size: 6.25rem;
    opacity: 0;
}

.first {
    position: absolute;
    right: 2%;
    bottom: 2%;
    font-size: 120px;
    opacity: 0;
    overflow: hidden;
}

.second {
    position: absolute;
    font-size: 120px;
    right: 2%;
    bottom: 25%;
    opacity: 0;
    overflow: hidden;
}

.third {
    position: absolute;
    font-size: 120px;
    right: 2%;
    bottom: 45%;
    opacity: 0;
    overflow: hidden;
}

.fourth {
    position: absolute;
    font-size: 120px;
    right: 2%;
    top: 2%;
    opacity: 0;
    overflow: hidden;
}

#mainTextContainer {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #e1dfdd;
    color: black;
}

#navBar {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 40%;
    margin: 0 auto;
    z-index: 2;
}

#stickyDiv {
    position: fixed;
    width: 90%;
    top: 2%;
    left: 5%;
    display: flex;
    background-color: #e1dfdd;
    justify-content: space-between;
}

.navLinks {
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
}

#space {
    height: 300vh;
}

#headline {
    position: relative;
    top: 100px;
    z-index: 2;
    left: 5%;
    font-size: 60px;
}

.creativeHeadline {
    margin: 0;
    opacity: 0;
    font-weight: 400;
    width: fit-content;
}

.developerHeadline {
    margin-top: 0;
    opacity: 0;
    font-weight: 400;
    width: fit-content;
}

#stickyDiv .one {
    position: absolute;
    left: 4%;
    z-index: 99;
}

#stickyDiv .two {
    position: absolute;
    right: 4%;
    z-index: 99;
}

#imageSpace {
    position: relative;
    left: 5%;
    top: 10%;
    z-index: 0;
    height: 0px;
    width: 550px;
    overflow: hidden;
}

#imageSpace img {
    position: relative;
    z-index: 0;
    object-fit: contain;
}

#nameSpace {
    position: relative;
    font-size: 60px;
    left: 65%;
    bottom: 25%;
}

#introSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top,
#middle {
    width: 70%;
    font-size: 50px;
}

.paras {
    opacity: 0;
}

#top p {
    margin: 30px 0;
}

#projectsSection {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#leftSection,
#rightSection {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40vw;
}

#firstProjectName,
#firstProjectDetails,
#secondProjectDetails,
#secondProjectName {
    opacity: 0;
}

#firstProjectImage,
#secondProjectImage {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

#firstProjectImage img {
    position: relative;
    width: 100%;
    top: 100px;
}

#secondProjectImage img {
    position: relative;
    width: 100%;
    top: 100px;
}

.firstProject,
.secondProject {
    height: 90%;
}

.sticky {
    position: sticky;
    top: 200px
}

.projectName {
    font-size: 82px;
    width: fit-content;
}

.projectName:hover {
    cursor: pointer;
    text-decoration: underline;
}

.projectDetails {
    font-size: 22px;
    font-weight: 100;
}

#hobbiesSection {
    margin-top: 400px;
    display: flex;
    justify-content: center;
}

#hobbiesWrapperDiv {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.firstHobby {
    font-size: 120px;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

#aeromodelling,
#guitar,
#games,
#thisone {
    opacity: 0;
}

#hobbyImage {
    width: 620px;
    height: 320px;
    background-color: green;
}

#hobbieEnd {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}

#para {
    width: 60%;
}

#para p {
    font-size: 32px;
}

#hobbieEnd h4 {
    font-size: 32px;
}

#hobbieEnd h4:hover {
    text-decoration: underline;
    cursor: pointer;
}

#lastSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}

#wrapper {
    width: 60%;
}

#topSection {
    display: flex;
    justify-content: space-between;
}

#topSection h4 {
    width: 200px;
    font-size: 26px;
    font-weight: 400;
}

#emailAdress {
    width: 90%;
    font-size: 112px;
    text-decoration: underline;
    cursor: pointer;
}

#endSection {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    margin-bottom: 50px;
}

#endSection p,
#endSection a {
    text-decoration: none;
    color: #080808;
    margin: 0;
    font-size: 26px;
    padding: 0;
}