html,
body {
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    background-color: #e1dfdd;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.border1 {
    border:1px solid black;
}

.border2 {
    border: 1px solid red;
}

.border3 {
    border: 1px solid green;
}

#stickyContainer {
    position: relative;
    background-color: #e1dfdd;
    /* height: 100%; */
}

#cover {
    position: relative;
    background-color: #080808;
    color:antiquewhite;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    z-index: 99;
}

#mainContent {
    position: sticky;
    top: 0px;
    background-color: #161616;
    width: 100%;
    height: 75%;
}

.coverName {
    position: absolute;
    top: 50px;
    font-size: 140px;
    opacity: 0;
}

.coverTitle {
    position: absolute;
    top: 250px;
    font-weight: 300;
    font-size: 100px;
    opacity: 0;
}

.first {
    position: absolute;
    right: 2%;
    bottom: 0%;
    font-size: 120px;
    opacity: 0;
    overflow: hidden;
}

.second {
    position: absolute;
    font-size: 120px;
    right: 2%;
    bottom: 20%;
    opacity: 0;
    overflow: hidden;
}

.third {
    position: absolute;
    font-size: 120px;
    right: 2%;
    bottom: 40%;
    opacity: 0;
    overflow: hidden;
}

.fourth {
    position: absolute;
    font-size: 120px;
    right: 2%;
    top: 0%;
    opacity: 0;
    overflow: hidden;
}

#mainTextContainer {
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #e1dfdd;
    color: black;
}

#navBar {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 40%;
    margin: 0 auto;
    z-index: 2;
}

#stickyDiv {
    position: fixed;
    width: 90%;
    top: 2%;
    left: 5%;
    display: flex;
    background-color: #e1dfdd;
    justify-content: space-between;
}

.navLinks {
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
}

#space {
    height: 300vh;
}

#headline {
    position: relative;
    top: 100px;
    z-index: 2;
    left: 5%;
    font-size: 60px;
}

.creativeHeadline {
    margin: 0;
    opacity: 0;
    font-weight: 400;
    width: fit-content;
}

.developerHeadline {
    margin-top: 0;
    opacity: 0;
    font-weight: 400;
    width: fit-content;
}

#stickyDiv .one {
    position: relative;
    z-index: 9;
}

#stickyDiv .two {
    position: relative;
    z-index: 9;
}

#imageSpace {
    position: relative;
    left: 5%;
    top: 10%;
    z-index: 0;
    height: 225px;
    width: 0px;
    overflow: hidden;
}

#imageSpace img {
    position: relative;
    z-index: 0;
    object-fit: contain;
}

#nameSpace {
    position: relative;
    font-size: 60px;
    left: 65%;
    bottom: 25%;
}

#introSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top,
#middle {
    width: 70%;
    font-size: 50px;
}

.paras {
    opacity: 0;
}

#top p {
    margin: 0;
}

#projectsSection {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
}

#leftSection,
#rightSection {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40vw;
    height: 200vh;
}

#firstProjectImage {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

#firstProjectImage img {
    position: relative;
    width: 100%;
    top: 100px;
}

.firstProject,
.secondProject {
    height: 90%;
}

.sticky {
    position: sticky;
    top: 200px
}

.projectName {
    font-size: 82px;
    width: fit-content;
}

.projectName:hover {
    cursor: pointer;
    text-decoration: underline;
}